.theme-dark {
  --app-bg: #2b2b2b;
  --sidebar-bg: #000000;
  --card-bg: #000000;
  --font-color-primary: #cdcdcdcd;
}

.theme-light {
  --app-bg: #b0d9cf;
  --sidebar-bg: #ffffff;
  --card-bg: #ffffff;
  --font-color-primary: #000000;
}
