.app-theme-dark {
  --app-bg: #2B2B2B;
  --sidebar-bg: #000000;
  --card-bg: #000000;
  --font-color-primary: #CDCDCDCD;
  --sidebar-z-index: 100;
  --topbar-z-index: 99;
  --dark-mode-light-btn-display: block;
  --dark-mode-dark-btn-display: none;
}

.app-theme-light {
  --app-bg: #B0D9CF;
  --sidebar-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --font-color-primary: #000000;
  --sidebar-z-index: 100;
  --topbar-z-index: 99;
  --dark-mode-light-btn-display: none;
  --dark-mode-dark-btn-display: block;
}
